# Python Bytecode
__pycache__/
*.pyc

# macOS and Windows system files
.DS_Store
Thumbs.db

# Environment files
*.env
.env
.env.local

# Python Virtual Environment
.venv/

# Default ignored files
/shelf/
/workspace.xml

# Editor-based HTTP Client requests
/httpRequests/

# Datasource local storage ignored files
/dataSources/
/dataSources.local.xml

# WebStorm/JetBrains IDE files
.idea/
*.iml

# VS Code IDE files
.vscode/

# Logs
*.log

# Build directories
/dist/
/build/

# Node.js modules
node_modules/